<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Modificar </title>
    <!-- BOOSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
</head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">Paper, please </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"> <a href="/Admin">Home    </a>    </li>
            <li>    <a href="/modificar">modificar  </a>  </li>
            <li>    <a href="/vendidos">vendidos    </a>    </li>
            <li>    <a href="/ganancias">ganancias  </a>  </li>

        </ul>
        </div>
    </nav>
    <div class='col-md-4 mt-6 card'>
        <form action="/cambiar" method="POST" class="card-body">
            <h3 class='card-title'>Modificar paper  </h3> 
                <div class="form-gruop">
                    <label for="fname">Id del paper </label> <br>
                    <input type="text" name="id_paper" id="id_paper" class="form-control" placeholder="ID" required>
                </div>
                <div class="form-gruop">
                    <label for="fname">Nombre del paper </label> <br>
                    <input type="text" name="nombre_paper" id="nombre_paper" class="form-control" placeholder="Nombre" required> 
                </div>
                <div class="form-gruop">
                    <label for="fname">Autor del paper  </label>  <br>
                    <input type="text" name="autor" id="autor" class="form-control" placeholder="Autor" required>
                </div>
                <div class="form-gruop">
                    <label for="fname">Precio del paper </label> <br>
                    <input type="text" name="precio" id="precio" class="form-control" placeholder="Precio" required>
                </div>
                <div class="form-gruop">
                    <label for="fname">Fecha de lanzamiento </label> <br>
                    <input type="text" name="fecha_lan" id="fecha_lan" class="form-control" placeholder="Fecha" required>
                </div>
                <input type="submit" class="btn btn-primary">
        </form>    
        <a href="/Admin" >Volver</a>
</div>
</html>